<!DOCTYPE html>
<html>
<script>
function reload(){
  location.reload();
}
</script>
<head>
  <title>Spreadsheet Tutorial</title>
  <style>
    main { width: 90%; max-width: 800px; margin: 30px auto; }
    table, canvas, img { width: 100%; }
    h2 { padding-bottom: 20px; }
    .card { margin: 0; }
    #map { height: 400px; }
  </style>
</head>

<body>
  <main>
    <h1>Show from Spreadsheet</h1>
    <input type="checkbox" name="vehicle3" value="Boat" checked> mhm? <br>
    <table>
      <tr>
        <th>Text</th> <th>Value</th>
      </tr>
      {{#each users}}
        <tr>
          <td>{{this.text}}</td>
          <td>Done? <input type="checkbox"> {{this.value}}</td>
        </tr>
      {{/each}}
    </table>

    <button onclick="reload()"> Reload </button>

  </main>
</body>
</html>
